.container {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
}

.header {
  /* position: fixed; */
  background: white;
  color: black;
  font-size: 1.5rem;
  height: 8vh;
  box-shadow: 2rem;
  display: flex;
  align-items: center;
  padding-left: 2rem;
}

.main {
  height: 92vh;
}
